/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
88888888888                               d88P  .d8888b.                888          
    888                                  d88P  d88P  Y88b               888          
    888                                 d88P   888    888               888          
    888  888  888 88888b.   .d88b.     d88P    888         .d88b.   .d88888  .d88b.  
    888  888  888 888 "88b d8P  Y8b   d88P     888        d88""88b d88" 888 d8P  Y8b 
    888  888  888 888  888 88888888  d88P      888    888 888  888 888  888 88888888 
    888  Y88b 888 888 d88P Y8b.     d88P       Y88b  d88P Y88..88P Y88b 888 Y8b.     
    888   "Y88888 88888P"   "Y8888 d88P         "Y8888P"   "Y88P"   "Y88888  "Y8888  
              888 888                                                                
         Y8b d88P 888                                                                
          "Y88P"  888

::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

Calavera Video Player Skin
based on VideoJS TubeCSS Skin (http://videojs.com)

::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.calavera-player .vjs-controls {
	height:18px; 
	color:#ffcc00; 
	background-color:#000000;
}

.calavera-player .vjs-controls > div { 
	height:17px; top:0;
	background:none; border-top:1px solid #ffcc00;
	-moz-border-radius:0; -webkit-border-radius:0; border-radius:0;
	-moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none;
}

.calavera-player .vjs-controls > div.vjs-play-control       { width:17px; left:0; }
.calavera-player .vjs-controls > div.vjs-progress-control   { left:18px; right:18px; }
.calavera-player .vjs-controls > div.vjs-time-control       { display:none; }
.calavera-player .vjs-controls > div.vjs-volume-control     { display:none; }
.calavera-player .vjs-controls > div.vjs-fullscreen-control { width:17px; right:0; }

/* Play/Pause
-------------------------------------------------------------------------------- */
.calavera-player .vjs-play-control { 
	border-right:1px solid #ffcc00; 
}

.calavera-player.vjs-paused  .vjs-play-control span {
	margin:5px; 
	border-top-width:4px; border-left-width:8px; border-bottom-width:4px;
	border-left-color:#ffcc00; 
}
.calavera-player.vjs-playing .vjs-play-control span { 
	height:7px; margin:5px auto 0; 
	border-left:3px solid #ffcc00; border-right:3px solid #ffcc00; 
}

.calavera-player.vjs-paused  .vjs-play-control:hover span { }
.calavera-player.vjs-playing .vjs-play-control:hover span { }

/* Progress
-------------------------------------------------------------------------------- */
.calavera-player .vjs-progress-holder { 
	height:7px; margin:5px; 
	border:0; background-color: #ffcc00; 
	border-radius:0; -webkit-border-radius:0; -moz-border-radius:0;
}
.calavera-player .vjs-progres-holder > div { 
	height:7px; 
}
.calavera-player .vjs-progress-control .vjs-load-progress { 
	background:#ffcc00; 
	border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; 
}
.calavera-player .vjs-progress-control .vjs-play-progress { 
	background:#ff9900; 
	-webkit-border-radius:0; -moz-border-radius:0; border-radius:0; 
}

/* Fullscreen
-------------------------------------------------------------------------------- */
.calavera-player .vjs-fullscreen-control {
	border-left:1px solid #ffcc00; 
}
.calavera-player .vjs-fullscreen-control div { 
	margin:3px; width:auto; height:auto;
}
/* Fullscreen icon color */
.calavera-player .vjs-fullscreen-control div span:nth-child(3), 
.calavera-player .vjs-fullscreen-control div span:nth-child(4), 
.calavera-player.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(1), 
.calavera-player.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(2) { 
	border-bottom-color: #ffcc00;
}
.calavera-player .vjs-fullscreen-control div span:nth-child(1), 
.calavera-player .vjs-fullscreen-control div span:nth-child(2), 
.calavera-player.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(3), 
.calavera-player.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(4) { 
	border-top-color: #ffcc00;
}
/* Fullscreen icon hovering color */
.calavera-player .vjs-fullscreen-control:hover div span:nth-child(3), 
.calavera-player .vjs-fullscreen-control:hover div span:nth-child(4), 
.calavera-player.vjs-fullscreen .vjs-fullscreen-control:hover div span:nth-child(1), 
.calavera-player.vjs-fullscreen .vjs-fullscreen-control:hover div span:nth-child(2) { }
.calavera-player .vjs-fullscreen-control:hover div span:nth-child(1), 
.calavera-player .vjs-fullscreen-control:hover div span:nth-child(2), 
.calavera-player.vjs-fullscreen .vjs-fullscreen-control:hover div span:nth-child(3), 
.calavera-player.vjs-fullscreen .vjs-fullscreen-control:hover div span:nth-child(4) { }

.vjs-fullscreen-control div span:nth-child(1) { border-top-width:4px; border-right-width:4px; }
.vjs-fullscreen-control div span:nth-child(2) { border-top-width:4px; border-left-width:4px; }
.vjs-fullscreen-control div span:nth-child(3) { border-bottom-width:4px; border-right-width:4px; }
.vjs-fullscreen-control div span:nth-child(4) { border-bottom-width:4px; border-left-width:4px; }

/* Icon when video is in fullscreen mode */
.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(1) { border-bottom-width:4px; border-left-width:4px; }
.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(2) { border-bottom-width:4px; border-right-width:4px; }
.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(3) { border-top-width:4px; border-left-width:4px; }
.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(4) { border-top-width:4px; border-right-width:4px; }

/* Big Play Button (at start)
---------------------------------------------------------*/
.calavera-player div.vjs-big-play-button { 
	width:50px; height:50px; margin:-25px 0 0 -25px;  
	background:#000000; border:0; 
	border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px;
	box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;
}
.calavera-player div.vjs-big-play-button:hover { }
.calavera-player div.vjs-big-play-button span { 
	margin:13px auto; 
	border-left:22px solid #ffcc00; 
	border-top:12px solid rgba(0,0,0,0); 
	border-bottom:12px solid rgba(0,0,0,0);
}

/* Spinner Styles
---------------------------------------------------------*/

.calavera-player .vjs-spinner div {
	background: #ffcc00; border-color:#ffcc00; 
}
