/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
88888888888                               d88P  .d8888b.                888          
    888                                  d88P  d88P  Y88b               888          
    888                                 d88P   888    888               888          
    888  888  888 88888b.   .d88b.     d88P    888         .d88b.   .d88888  .d88b.  
    888  888  888 888 "88b d8P  Y8b   d88P     888        d88""88b d88" 888 d8P  Y8b 
    888  888  888 888  888 88888888  d88P      888    888 888  888 888  888 88888888 
    888  Y88b 888 888 d88P Y8b.     d88P       Y88b  d88P Y88..88P Y88b 888 Y8b.     
    888   "Y88888 88888P"   "Y8888 d88P         "Y8888P"   "Y88P"   "Y88888  "Y8888  
              888 888                                                                
         Y8b d88P 888                                                                
          "Y88P"  888

::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

body {
	font-family:Helvetica, Arial, sans-serif;
	color:#000000; background-color:#ffffff;
}

a, 
a:link, 
a:visited { 
	color:#000000; text-decoration:none; font-weight:bold; 
}
a:hover, a:active {
	
}

h2 {
	padding:2px 0 0; line-height:.8; 
	font-size:24px; font-weight:bold;
	border-bottom:1px solid #fecc00;
}

p { 
	padding:1em 0 0; font-size:11px; 
}
p:first-child { 
	padding-top:0; 
}

cite { 
	font-style:normal;
}

.wrap { 
	width:900px; margin:0 auto; text-align:left;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.rail {
	position:fixed; margin:0 0 0 10px; padding:0 0 4px;
	background-color:#000000;
	border-bottom-left-radius:6px; border-bottom-right-radius:6px;
	-moz-border-radius-bottomleft:6px; -moz-border-radius-bottomright:6px;
	-webkit-border-bottom-left-radius:6px; -webkit-border-bottom-right-radius:6px;
}

.logo a {
	width:74px; height:101px; padding:35px 12px 8px;
	background-image:url("../images/calavera.png");
	background-position:center 35px;
	border-bottom:1px solid #fecc00;
}

.menu { 
	margin:1px 0 0; 
}
.menu > li { 
	border-top:1px solid #f7a300; 
}
.menu > li.page_item,
.menu > li.cat-item {
	border-top-color:#fecc00;
}
.menu li > a { 
	display:block; padding:4px 5px 2px; 
}
/* top level items */
.menu > li > a { 
	text-transform:uppercase; color:#f7a300; 
}
.menu > li.section-start > a {
	margin:1px 0 0;
	border-top:1px solid #f7a300;
}
.menu > li.page_item > a,
.menu > li.cat-item > a {
	color:#fecc00;
}
.menu > li > a:hover,
.menu > li.page_item > a:hover,
.menu > li.current_page_item > a,
.menu > li.current-cat > a,
.menu > li.selected > a { 
	color:#000000; background-color:#fcca29; 
}
/* submenu */
.menu > li > ul {
	display:none; padding:0 0 4px;
	background-color:#fcca29; 
}
.menu > li > ul li > a { 
	margin:0 6px; padding-left:0; padding-bottom:0; line-height:1.3;
	border-bottom:1px solid transparent; 
}
.menu > li > ul li a.selected {
	border-bottom-color:#000000;
}
.menu > li > ul li:first-child { 
	border-top:1px solid #f7a300; 
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.main {
	position:relative; width:645px; 
	float:right; margin:37px 56px 37px 0;
}

.main .box {
	margin:0 0 24px;
}
.main .box .hd { 
	margin:0 0 16px; 
}
.main .box.pagination { 
	margin:0;
}

a.more-link { 
	text-transform:uppercase; 
}

.page-template .main > .box {
	width:394px;
}

.scroll-pane .box .bd p {
	width:394px;
}

.contact-info > div {
	padding:0 0 1.2em;
}
.contact-info p {
	padding:0;
}
.contact-info a,
.contact-info a:link,
.contact-info a:visited { 
	font-weight:normal;
}

.post .part-2 {
	display:none;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.scroll-pane {
	overflow:hidden; height:565px; margin:0 0 10px;
}

.scroll-pane .holder { }
.scroll-pane .holder > div { overflow:hidden; height:565px; }

.scroll-controls {
	position:absolute; right:-16px; top:50px;
}
.scroll-controls > div {
	position:fixed;
}
.scroll-controls > div > a {
	width:14px; height:22px; padding:8px;
	background-color:#000000; border-top:1px solid #fecc00;
}
.scroll-controls > div > a:first-child {
	border-top:0;
}
.scroll-controls > div > a:hover {
	background-color:#ffcc00;
}
.scroll-controls .prev {
	background-image:url("../images/controlArrowUp.png");
	background-position:center -30px;
	border-top-left-radius:6px; border-top-right-radius:6px;
	-moz-border-radius-topleft:6px; -moz-border-radius-topright:6px;
	-webkit-border-top-left-radius:6px; -webkit-border-top-right-radius:6px;
}
.scroll-controls .prev:hover { background-position:center 8px; }
.scroll-controls .next {
	background-image:url("../images/controlArrowDown.png");
	background-position:center 8px;
	border-bottom-left-radius:6px; border-bottom-right-radius:6px;
	-moz-border-radius-bottomleft:6px; -moz-border-radius-bottomright:6px;
	-webkit-border-bottom-left-radius:6px; -webkit-border-bottom-right-radius:6px;
}
.scroll-controls .next:hover { background-position:center -30px; }

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.main .footer {
	padding:4px 0;
	border-top:1px solid #fecc00;
}
.main .footer cite {
	display:block; text-align:right;
	font-size:9px; color:#f7a300;
}
